@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");

body {
	text-align: center;
	height: 100vh;
	font-family: "Urbanist", sans-serif;
	background: #181a20;

	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	padding: 18px 16px;
	box-shadow: 4px 8px 24px rgba(6, 193, 73, 0.25);
	border-radius: 100px;
}

.btn-primary {
	background: #06c149;
}

.btn-dark {
	background: #35383f;
}

.container {
	background-color: white;
	padding: 24px;
}

.controller-card {
	color: white;
	border: none;
}

.current-song-cover {
	border-radius: 30px;
}

.track-list {
	font-family: "Urbanist", sans-serif;
	color: black;
}
